/*General*/

body{
  text-align: center;
  margin:0;
  padding: 0;
  color: black;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  background:radial-gradient(yellow,lightgreen);
}
/*disposicion horizontal y ajustes del menu*/
.menuheader *{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}



/*menu izquierdo del header*/
.menu1{
  background-color: cyan;
  border-radius: 40% 40%;
  padding-right: 2%;
  padding-bottom: 1%;
}
.menu1 li a{
  padding: 5px;
  text-decoration: none;
  color: black;
}

/*menu de la derecha del header*/
.menu2 li a{
  padding: 5px;
  text-decoration: none;
  color: black;
}

.menu2 li a:hover{
  background-color: yellow;
  border-radius: 25%;
}
/*menu izquierdo del header*/

.menu1 li a:hover{
  background-color: yellow;
  border-radius: 25%;
}

/*menu de la derecha del header*/
.menu2{
  background-color: cyan;
  border-radius: 40%;
  padding-right: 2%;
  padding-bottom: 1%;
}



/*imagen central del header*/
.imgmenu img {
  border-radius: 50%;
  margin: 0;
}

/*cuerpo de la web*/

.cuerpo{
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25% 15%;


}
.cuerpo .ultimasf{
  padding-top: 10%;
  padding-bottom: 5%;
}

.cuerpo .ultimasf .fiesta1{
padding-top: 5%;

}


.cuerpo .ultimasf .fiesta2{
  padding-top: 8%;
  padding-bottom: 15%;
}
.cuerpo a{
  text-decoration: none;
  color: red;
}



.img1 img{
  position: absolute;
  margin-top: 21%;
  left: 0;
  width: 19%;
}


.img2 img{
  position: absolute;
  margin-top: 25%;
  right: 0;
  width: 18%;
}

/*footer de la web*/

.fin li{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  padding-right: 10%;


}


.fin li img{
  width: 50px;
  height: 50px;}


  .fin li a{
    text-decoration: none;
    color: black;
  }


  /*rotacion imagen twitter*/
  .fin li a img:hover{
      transform:rotate(1turn);
      transition: 0.5s;
  }







.contact{
  padding-top: 10%;
  padding-bottom: 7%;
}



.fiestas{
  padding-top: 10%;
  padding-bottom: 7%;
}

.acerca{
  padding-top: 10%;
  padding-bottom: 7%;
}
